<p>
  {{user | json}}
</p>
<form #loginForm="ngForm" novalidate>
  <md-dialog-content>
    <p>
      <md-input-container>
        <input mdInput placeholder="Username" #username="ngModel" name="username" [(ngModel)]="user.username" required type="text">
        <md-hint>
          <span [hidden]="username.pristine"></span>
          <span [hidden]="username.errors?.required">Username is required</span>
        </md-hint>
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Password" #password="ngModel" name="password" [(ngModel)]="user.password" required type="password">
        <md-hint>
        <span [hidden]="password.pristine"></span>
        <span [hidden]="password.errors?.required">Password is required</span>
        </md-hint>
      </md-input-container>
      <br>
      <md-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</md-checkbox>
    </p>
  </md-dialog-content>
    <span class="flex-spacer"></span>
    <md-dialog-actions>
      <button md-button type="submit" class="background-primary text-floral-white" [disabled]="loginForm.form.invalid">Login</button>
      <button md-button md-dialog-close>Cancel</button>
    </md-dialog-actions>
</form>
