<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Contact Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          HONG KONG<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
        <p></p>
        <div>
          <a md-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
          <a md-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a md-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>
  <div fxFlex fxFlexOffset="20px" class="form-size">

    <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
      <p>{{feedbackForm.value | json}}</p>
      <h3>Send us your feedback</h3>
      <md-input-container class="half-width">
        <input mdInput formControlName="firstName" placeholder="First Name" type="text" required>
        <md-hint>
          <span [hidden]="!formErrors.firstName">
            {{formErrors.firstName}}</span>
        </md-hint>
      </md-input-container>
      <md-input-container class="half-width">
        <input mdInput formControlName="lastName" placeholder="Last Name" type="text" required>
        <md-hint>
          <span [hidden]="!formErrors.lastName">
            {{formErrors.lastName}}</span>
        </md-hint>
      </md-input-container>
      <md-input-container class="half-width">
        <input mdInput formControlName="telNum" placeholder="Tel Number" pattern="[0-9]*" type="text" required>
        <md-hint>
          <span [hidden]="!formErrors.telNum">
            {{formErrors.telNum}}</span>
        </md-hint>
      </md-input-container>
      <md-input-container class="half-width">
        <input mdInput formControlName="email" placeholder="Email ID" type="text" email required>
        <md-hint>
          <span [hidden]="!formErrors.email">
            {{formErrors.email}}</span>
        </md-hint>
      </md-input-container>
      <table class="form-size">
        <td>
          <md-slide-toggle formControlName="agree">
            May we contact you?
          </md-slide-toggle>
        </td>
        <td>
          <md-select formControlName="contactType" placeholder="How?">
            <md-option *ngFor="let contact of contactType" [value]="contact">{{contact}}</md-option>
          </md-select>
        </td>
      </table>
      <p>
        <md-input-container class="full-width">
          <textarea mdInput formControlName="message" rows="12" placeholder="Your Feedback" type="text"></textarea>
        </md-input-container>
      </p>
      <button md-button type="submit" [disabled]="feedbackForm.invalid" class="background-primary text-floral-white">Submit</button>
    </form>
  </div>
</div>
