<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div fxFlex>
      <md-card *ngIf="dish">
        <md-card-header>
          <md-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src={{dish.image}} alt={{dish.name}}>
        <md-card-content>
          <p>{{dish.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </md-card-actions>
      </md-card>
    </div>
    <div [hidden]="dish">
      <md-spinner></md-spinner><h4>Loading..........  </h4>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <md-list>
      <h4>Comments</h4>
      <md-list-item *ngFor="let comment of dish.comments" >
        <p md-line>{{comment.comment}}</p>
        <p md-line>{{comment.rating}} Stars</p>
        <p md-line>--{{+" "+comment.author+" "}}{{comment.date | date}}</p>
      </md-list-item>
    </md-list>
    <md-list *ngIf="commentForm.valid">
      <md-list-item>
        <p md-line>{{latestComment.comment}}</p>
        <p md-line>{{latestComment.rating}} Stars</p>
        <p md-line>--{{+" "+latestComment.author+" "}}{{latestComment.date | date}}</p>
      </md-list-item>
    </md-list>

    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <md-input-container class="full-width">
        <input mdInput formControlName="author" type="text" placeholder="Name" name="author" required>
        <md-hint [hidden]="!formErrors.author">{{formErrors.author}}</md-hint>
      </md-input-container><br>
      <md-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1" formControlName="rating"></md-slider><br>
      <md-input-container class="full-width">
        <textarea mdInput formControlName="comment" type="text" placeholder="Your Comment" row="12" required></textarea>
        <md-hint [hidden]="!formErrors.comment">{{formErrors.comment}}</md-hint>
      </md-input-container>
      <button md-button type="submit" [disabled]="commentForm.invalid" class="background-primary text-floral-white">Submit</button>
    </form>
  </div>

</div>
